
.overlay button {

  /*background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      border: 0;
      font-family: Courier New;
      color: #ffffff;
      font-size: 20px;*/
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      margin-top: 200px;
    }

:root {
  --purple: #7f00ff;
  --pink: #e100ff;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  
  /* Our gradient */
  background: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--pink)));
  background: linear-gradient(to right, var(--purple), var(--pink));
}
button::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 5%;
  height: 110%;
  width: 90%;
  opacity: 0.8;
  border-radius: 50px;
  
  /* Declaring our shadow color inherit from the parent (button) */
  background: inherit;
  
  /* Blurring the element for shadow effect */
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  
  /* Transition for the magic */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover::after {
  /* Changing blur effect */
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);

  /* And change the style properties */
  width: 100%;
  bottom: -5px;
  left: 0;
}
button:hover:active::after {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
/* Edge does not support blur effect, so we can just delete the ::after element and replace it by a box-shadow */

@supports (-ms-ime-align: auto) {
  button {
    -webkit-box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
    box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
}
  button::after, button:hover::after, button:active::after {
    display: none;
  }
}


/* And IE does not support CSS variables and blur effect, so we had to make the same and recreate the background-gradient */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Fix css var by calling the hexa colors */
  button {
    background: -webkit-gradient(linear, left top, right top, from(#7f00ff), to(#e100ff));
    background: linear-gradient(to right, #7f00ff, #e100ff);
    -webkit-box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
    box-shadow: 0 20px 20px -15px rgba(127, 0, 255, .8);
    border-collapse: separate;
  }
  /* Deleting the shadow */
  button::after, button:hover::after, button:active::after {
    display: none;
  }
}


.overlay footer {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      border: 0;
      font-family: Arial Rounded MT Bold;
      color: #ffffff;
      font-size: 10px;
      padding: 0 20px;
      text-decoration: none;
      margin-top: -50px;
    }
 
.overlay {
      width: 100%;
      height: 100%;
      display: table;
      background: rgba(0, 0, 0, 0.85); 
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
.footer {
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #3498db;
       font-family: Arial Rounded MT Bold;
       color: #ffffff;
       font-size: 10px;
       text-align: center;
    }
